<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SalesforceClientId" value="3MVG9fe4g9fhX0E4pKn42WQJw2GvSKAb32PjPNejj2fb.zKuEbeyfMERWVkXNJyMo4kSS1TwPQIOyk7AVFCx6" />
		<add key="SalesforceClientSecret" value="A852C4146ADDB7DBD978E32B6BC600EC68441F94FADF9B36CE1CB772E313D9EC" />
		<add key="SalesforceUsername" value="hddaveconsultancy@abc.com" />
		<add key="SalesforcePassword" value="Summer@12" />
		<add key="SalesforceSecurityToken" value="eQup2yyqbdOTCcZeGSFsbT21" />
		<add key="SalesforceApiUrl" value="https://hddaveconsultancy3-dev-ed.develop.my.salesforce.com/services/data/v57.0/query/?q=SELECT+Id,Name+FROM+Account" />
	</appSettings>
</configuration>